

@media screen and (max-width:576px){
    .nav-items{
        padding: 20px;
    }
    .nav-items ul{
        display: none;
    }
    .nav-items .btn{
        display: none;
    }
    .hambarger{
        display: flex;
        align-items: center;
    }

    #banner {
    padding: 0px;
    }
    .banner-content-wrapper .mic{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    }
    .banner-content-wrapper .mic i {
    font-size: 100px;
    }
    .top-text {
    top: -190px;
    left: 66px;
    }
    .banner-content-wrapper {
    gap: 0px;
    padding: 40px 0;
    }
    .banner-text h1 {
    font-size: 40px;
    }


    #about{
        padding: 0 20px;
    }
    .section-counter{
    gap: 40px;
    grid-template-columns: repeat(2,1fr);
    }
    .section-content .section-heading {
    font-size: 36px;
    }
    .section-content {
    padding: 40px 0;
    }
    .section-counter {
    padding: 40px 0;
    }


    #why-choose{
        padding: 40px 20px;
    }
    .section-heading {
    font-size: 32px;
    }
    .section-items {
    margin-top: 40px;
    gap: 20px;
    grid-template-columns: repeat(1,1fr);
    }
    .item-info{
     padding: 24px;
    }
    .item-info-fat {
    padding: 24px;
    }
    .item-info-big {
    padding: 24px;
    }
}