

@media screen and (max-width:576px){
    .nav-items{
        padding: 20px;
    }
    .nav-items ul{
        display: none;
    }
    .nav-items .btn{
        display: none;
    }
    .hambarger{
        display: flex;
        align-items: center;
    }

    #banner {
    background: url(../assets/mobile-banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    }
    .banner-content-wrapper .mic{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    }
    .banner-content-wrapper .mic i {
    font-size: 100px;
    }
    .top-text {
    top: -190px;
    left: 66px;
    }
    .banner-content-wrapper {
    gap: 0px;
    padding: 40px 0;
    }
    .banner-text h1 {
    font-size: 40px;
    }


    #about{
        padding: 0 20px;
    }
    .section-counter{
    gap: 40px;
    grid-template-columns: repeat(2,1fr);
    }
    .section-content .section-heading {
    font-size: 36px;
    }
    .section-content {
    padding: 40px 0;
    }
    .section-counter {
    padding: 40px 0;
    }


    #why-choose{
        padding: 40px 20px;
    }
    .section-heading {
    font-size: 32px;
    }
    .section-items {
    margin-top: 40px;
    gap: 20px;
    grid-template-columns: repeat(1,1fr);
    }
    .item-info{
     padding: 24px;
    }
    .item-info-fat {
    padding: 24px;
    }
    .item-info-big {
    padding: 24px;
    }
    .episodes-wrapper {
    flex-direction: column;
    }
    #featured {
    padding: 40px 20px 60px;
    }
    .episodes-wrapper {
    margin-top: 24px;
    }
    .episodes-card .episode-title {
    font-size: 20px;
    }
    .info-wrapper {
    padding: 16px;
    }


    #host{
        padding: 0 20px 40px;
    }
    .host-info-wrapper {
    flex-direction: column;
    margin-top: 24px;
    padding: 24px;
    gap: 16px;
    }
    .hos-info{
        text-align: center;
    }
    .hos-info .host-name {
    font-size: 24px;
}
    .host-icon-wrapper{
        justify-content: center;
    }


    .footer-text .footer-logo {
    font-size: 50px;
    }
    #footer {
    background-image: url(../assets/mobile-footer-bg.png);
    padding:35px 20px;
    }
    .footer-icon-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* padding: 0 50px; */
    }
    .footer-text {
    gap: 24px;
    }
    .footer-icon-wrapper {
    row-gap: 16px;
    }
}

@media (min-width:576px) and (max-width:992px){
.nav-items{
    padding: 30px;
}
#about{
    padding: 0 20px;
}
.section-counter {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2,1fr);
    padding: 80px 0 120px 0;
}
#why-choose {
    padding: 120px 20px;
    background-color: #230E3D;
}
.section-items {
    grid-template-columns: repeat(1,1fr);
}
#featured {
    padding: 120px 20px;
}
.episodes-wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.episodes-card {
    width:300px;
    background-color: #250D44;
    border-radius: 20px;
}
#host{
    padding: 0 20px 120px;
}
}