@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li,a{
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* ===== Shared Style ====== */
.btn{
    background:linear-gradient(22deg,#F7E93F,#FB09B4,#9100F8);
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #ffffff;
}
/* =====Navbar======== */
nav{
    background-color: #1A0B2E;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.nav-items h1{
    color: #ffffff;
}
.nav-items h1 span{
    background-image: linear-gradient(32deg, #F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    color: transparent;
}
.nav-items ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-items ul li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: white ;
}

.hambarger{
        display: none;
    }

/* ========Banner Section======== */

#banner{
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 101px 0;
}
.banner-content-wrapper{
    display: flex;
    gap:40px ;
    flex-direction: column;
    align-items: center;
}
.banner-content-wrapper .mic{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
}
.top-text {
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 20px 1px #00ff8881;
    top: -380px;
    left: 100px;
}
.banner-content-wrapper .mic i{
    color: #ffffff;
    font-size: 220px;
}
.banner-text{
    text-align: center;
}
.banner-text h1{
    color: white;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
}
.banner-text p{
    color: #ffffff80;
    font-size: 16px;
    text-align: center;
    margin: 8px 0 24px 0;
}
.banner-btn{
    justify-content: center;
    display: flex;
    gap: 8px;
}
.bnner-btn-two{
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 50px;
    border: 1px solid #00FF88;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #00FF88;
}

/* ==========About Section========== */
#about{
    background-color: #1A0B2E;
}
.section-content{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    
}
.section-content .section-heading{
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
}
.section-content p{
    color: #ffffff80 ;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 16px;
}
.section-counter{
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(4,1fr);
    padding: 80px 0 120px 0;
}
.counter{
    text-align: center;
}
.counter .cunt-num{
    color: #00FF88;
    font-size: 48px;
    font-weight: bold;
}
.counter p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff80;
    margin-top: 20px;
}

/* =========Why Choose Section========== */
#why-choose{
    padding: 120px 0;
    background-color: #230E3D;
}
.section-heading{
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
}
.section-items{
    margin-top: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.item-info-fat{
    grid-row: span 2;
    background-color: #35116540;
    padding: 107px 40px;
    border-radius: 40px;
}
.item-info-big{
    grid-column: span 2;
    background-color: #35116540;
    padding: 40px;
    border-radius: 40px;
}
.item-info{
    background-color: #35116540;
     padding: 40px;
     border-radius: 40px;
}
.info-title{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin: 16px 0;
}
.info-dec{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff60;
}
/* ========Featured Episodes Section========= */
#featured{
    background-color: #1A0B2E;
    padding: 120px 0;
}
.episodes-wrapper{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    
}
.episodes-card{
    width: 100%;
    background-color: #250D44;
    border-radius: 20px;
}
.video-wrapper iframe{
    border-radius: 20px 20px 0 0 ;
}
.info-wrapper{
    padding: 24px;
}
.episodes-card .episode-title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0 12px 0;
}
.episodes-card .episode-dec{
    color: #ffffff60;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 12px;
}
.episodes-card .episode-time{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}