@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li,a{
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* ===== Shared Style ====== */
.btn{
    background:linear-gradient(22deg,#F7E93F,#FB09B4,#9100F8);
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #ffffff;
}
/* ======btn animation======= */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* ======btn animation======= */
/* =====Navbar======== */
nav{
    background-color: #1A0B2E;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.nav-items h1{
    color: #ffffff;
}
.nav-items h1 span{
    background-image: linear-gradient(32deg, #F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    color: transparent;
}
.nav-items ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-items ul li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: white ;
}

.hambarger{
        display: none;
    }

/* ========Banner Section======== */

#banner{
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 101px 0;
}
.banner-content-wrapper{
    display: flex;
    gap:40px ;
    flex-direction: column;
    align-items: center;
}
.banner-content-wrapper .mic{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
}
.top-text {
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 20px 1px #00ff8881;
    top: -380px;
    left: 100px;
    position: relative;
    z-index: 0;
}
/* =======Animation part============ */
.top-text:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
}
.top-text:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #11111100;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* =======Animation part============ */
.banner-content-wrapper .mic i{
    color: #ffffff;
    font-size: 220px;
}
.banner-text{
    text-align: center;
}
.banner-text h1{
    color: white;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
}
.banner-text p{
    color: #ffffff80;
    font-size: 16px;
    text-align: center;
    margin: 8px 0 24px 0;
}
.banner-btn{
    justify-content: center;
    display: flex;
    gap: 8px;
}
.bnner-btn-two{
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 50px;
    border: 1px solid #00FF88;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #00FF88;
}
.bnner-btn-two:hover {
    transform: translateY(-3px);
}

/* ==========About Section========== */
#about{
    background-color: #1A0B2E;
}
.section-content{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    
}
.section-content .section-heading{
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
}
.section-content p{
    color: #ffffff80 ;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 16px;
}
.section-counter{
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(4,1fr);
    padding: 80px 0 120px 0;
}
.counter{
    text-align: center;
}
.counter .cunt-num{
    color: #00FF88;
    font-size: 48px;
    font-weight: bold;
}
.counter p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff80;
    margin-top: 20px;
}

/* =========Why Choose Section========== */
#why-choose{
    padding: 120px 0;
    background-color: #230E3D;
}
.section-heading{
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
}
.section-items{
    margin-top: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.item-info-fat{
    grid-row: span 2;
    background-color: #35116540;
    padding: 107px 40px;
    border-radius: 40px;
}
.item-info-big{
    grid-column: span 2;
    background-color: #35116540;
    padding: 40px;
    border-radius: 40px;
}
.item-info{
    background-color: #35116540;
     padding: 40px;
     border-radius: 40px;
}
.info-title{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin: 16px 0;
}
.info-dec{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff60;
}
/* ========Featured Episodes Section========= */
#featured{
    background-color: #1A0B2E;
    padding: 120px 0;
}
.episodes-wrapper{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    
}
.episodes-card{
    width: 100%;
    background-color: #250D44;
    border-radius: 20px;
}
.video-wrapper iframe{
    border-radius: 20px 20px 0 0 ;
}
.info-wrapper{
    padding: 24px;
}
.episodes-card .episode-title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0 12px 0;
}
.episodes-card .episode-dec{
    color: #ffffff60;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 12px;
}
.episodes-card .episode-time{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}

#host{
    background-color: #1A0B2E;
    padding-bottom: 120px   ;
}
.host-info-wrapper{
    background-color: #35116540;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 40px;
}
.hos-info .host-name{
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}
.hos-info .host-dec{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff60;
    margin: 16px 0;
}
.host-icon-wrapper{
    display: flex;
    gap: 8px;
}
.hos-info .host-icon-wrapper .icons{
    width: 40px;
    height: 40px;
    border: 2px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========Footer Section========== */
#footer{
    padding: 120px 0;
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.footer-text{
 text-align: center;
 max-width: 1200px;
 margin: 0 auto;
 border-bottom: 1px solid rgba(255, 255, 255, 0.103);
 margin-bottom: 15px;
}
.footer-text .footer-logo{
    font-size: 80px;
    color: white;
}
.footer-text .footer-logo span{
    background-image: linear-gradient(13deg, #F7E93F,#FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}
.footer-icon-wrapper{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 32px 0;
}
.footer-icon-wrapper .spotify{
    display: flex;
    gap: 10px;
}
.footer-icon-wrapper span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff60;
    font-size: 16px;
    font-weight: 500;
}
 .footer-icon-wrapper .spotify span{
    color: #ffffff60;
    font-size: 16px;
    font-weight: 500;
 }
.footer-icon-wrapper span img{
    margin-right: 8px;
}
#footer .copyright{
    color: #ffffff60;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
